{% extends 'home.html' %}

{% block content %}

<div class="container my-5">
    <h1 class="text-center mb-3">Product Details</h1>
  
    <div class="row">
      <div class="col-md-6">
        <img src="{{ product.image.url }}" class="img-fluid" alt="product">
      </div>
      <div class="col-md-6">
        <h2><strong>Name:</strong>{{ product.name }}</h2>
        <h2><strong>Brand:</strong>{{ product.brand }}</h2>
        <h3><strong>Price:</strong>{{ product.price }}</h3>
        <h3><strong>Screen:</strong>{{ product.screen }}enchs</h3>
        <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
      </div>
    </div>
  </div>
  

{% endblock %}