

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Patient information -->
        <h2>{{ patient.user.first_name }} {{ patient.user.last_name }}</h2>
        <p><strong>Birth Date:</strong> {{ patient.birth_date }}</p>
        <p><strong>Address:</strong> {{ patient.address }}</p>
        <p><strong>Height:</strong> {{ patient.height }}</p>
        <p><strong>Weight:</strong> {{ patient.weight }}</p>
        <p><strong>Blood Pressure:</strong> {{ patient.blood_pressure }}</p>
        <p><strong>Allergies:</strong> {{ patient.allergies }}</p>
        <p><strong>Conditions:</strong> {{ patient.conditions }}</p>
        <p><strong>Medications:</strong> {{ patient.medications }}</p>
      </div>
      <div class="col-md-6">
        <!-- Doctor information -->
        <h2>Doctor Information</h2>
        <!-- {% for doctor in patient.doctors.all %}
          <h4>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h4>
          <p><strong>Specialty:</strong> {{ doctor.specialty }}</p>
          <p><strong>Medical License Number:</strong> {{ doctor.medical_license_number }}</p>
        {% endfor %} -->
      </div>
    </div>
  </div>